.logo-container h2 {
	margin-left: 20px;
	color: white;
}
.logo-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}



.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	height: 70px;
	width: 100%;
	background-color: #2697de;
	
	position: fixed;
	top: 0;
}
.header-item-container {

	list-style-type: none;
	display: flex;
	align-items: center;
	text-align: center;
	line-height: 0px;
}


/* margin first and last item */
.logo {margin-left: 10px}
#lasted-item {margin-right: 5px}


.item ul {list-style-type: none}

		
.item img {
   filter: invert(94%) sepia(11%) saturate(48%) hue-rotate(132deg) brightness(103%) contrast(92%);
}

/* text hover */
.item li p {cursor: pointer;}
.text:hover {color: white !important}
