.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 70px;
	background-color: #2697de
}

.header a:link {
	color: white;
	text-decoration: none
}

.header a:visited {
	color: white
}



.header p a {
	font-size: 18pt
}

.header p {
	font-size: 20pt
}

.header img {
	width: 60px;
	height: 60px
}

@media (max-width: 500px) {
	.header p a {
		font-size: 10pt
	}

	.header p {
		font-size: 11pt
	}

	.header img {
		width: 40px;
		height: 40px
	}
}

.app {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}





.sidebar {
	box-sizing: border-box;
	padding: 10px;
	background-color: #dfdcb9;
	height: 100%;
}
.sidebar .graphSelect {
	margin-left: 10px;
	cursor: pointer;
}
#menu-container {
	margin-bottom: 10px;
}





.content {
	/* width: 100%; */
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

#canvas-container {
	background-color: #a9af90;
	width: 100%;
	flex: 1;
}





.settings {
	box-sizing: border-box;
	padding: 0 10px;
	background-color: #dfdcb9;
	height: 100%;


}

.settings label {
	margin-bottom: 10px;
}






.colorpicker-container {
	display: flex
}

.colorpicker {
	border: 3px solid transparent;
	cursor: pointer;
	width: 10px;
	height: 20px;
	flex: 1
}

.colorpicker:first-child {
	border-radius: 5px 0 0 5px
}

.colorpicker:last-child {
	border-radius: 0 5px 5px 0
}


body,
html {
	height: 100%;
}