/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Saira+Stencil+One&family=Sriracha&display=swap');

	
/* link css */
#content a:link {text-decoration: none; color: darkcyan;}
#content a:visited {color: darkslateblue}
#content a:hover {color: #ed8a11;}


#content ol {
	display: table;
	margin: 0 auto;
	
	list-style-type: none;
	text-align: center;
	
}
.root_li {
	background-color: rgba(183, 135, 10, 0.8);
	
	padding: 5px 30px 10px 30px;
	border-radius: 30px 4px 30px 4px;

	margin-bottom: 10px;	
}


#content ul li {
	font-size: 20px;
	width: 80px;
	padding: 7px 37px 7px 37px;
}
#content ul li:hover {
	list-style-image: url("img/hand.png");	
	background: #cce5ff;
	border-radius: 10px	
}

