/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Saira+Stencil+One&family=Sriracha&display=swap');


/* reset css */
body {
	margin: 0;
	padding: 0;
}


/* link css */
a:link {
	text-decoration: none; 
	color: darkcyan;
}
a:visited {
	color: darkslateblue
}
a:hover {
	color: #ed8a11
}


ol {
	
	/* centering list */
	display: table;
	margin: 0 auto;
	
	/* header buoi1 buoi2 buoi3 no bullet and centering */
	list-style-type: none;
	text-align: center;
	
}
.root_li {
	background-color: rgba(183, 135, 10, 0.65);
	/* background-color: darkgoldenrod; */
	
	padding: 5px 30px 10px 30px;
	border-radius: 30px 4px 30px 4px;

	margin-bottom: 10px;	
}


/* For each item in list */
ul li {
	font-size: 20px;
	width: 80px;
	padding: 7px 37px 7px 37px;
}
ul li:hover {
	list-style-image: url("img/hand.png");	
	background: #cce5ff;
	border-radius: 10px	
}


body {
	font-family: 'Grandstander', cursive;
	
	/* background: url("img/bg.jpg"); */
	/* background-position: center; */
	
	background: black url("img/snow3.gif")
}
